.navbar{
 width: 100%;
 height: 10%;
 background-color: var(--secondary);
 position: sticky;
 
 top: -8%;
}
.navbar > form{margin-top: 7.5%; float:left; display:inline; width: 70%;}
.navbar > img{float:left; display:inline;}
.navbar > form > input {font-size: 100%;width: 10rem;background-color: var(--lighter); border-radius: 20rem ;border: 1px solid var(--lighter);text-align: center;}
.navbar > form > button{font-size: 100%;background-color: transparent;border-radius: 10rem; border: 1px solid transparent;}
.navbar > form > button:hover button:active{
    background-color: var(--lighter);}
    
main{
    font-family: 'Helvetica', sans-serif;
    font-weight: normal;
    color: #333;
}

.retour{
    margin-top: 5%;
    margin-left: 5%;
}

.homelogo{width: 70%;
margin-inline: 10%;
margin-top: 40%;}

.biglogo{width: 40%;
    margin-inline: 30%;
    margin-top: 10%;}

.smalllogo{width: 20%;
    margin-inline: 5%;}

.load{width: 30%;
margin-inline: 35%;
margin-top: 10%;}

:root {
    --primary: #e8ae71;
    --secondary: #e8cd93;
    --lighter: #f7eebc;
    --background:#f3f4f2 ;
    --shadow: #dcd9d1 ;
  }
  

.login{
    background-color: var(--primary);
    width: 70%;
    margin-inline: 15%;
    border-radius: 10px;
    border: 1px solid var(--secondary);
    font-size: 16px;
    margin-bottom: 10%;
    padding-bottom: 3%;
}


.login > input{
    background-color: var(--lighter);
    width: 90%;
    margin-inline: 5%;
    border-radius: 10px;
    border: 1px solid var(--lighter);
    font-size: 16px;
    margin-bottom: 5%;
}

.login > .button{width: 40%;
        margin-inline-start: 56%;
        margin-inline-end: 5%;
        margin-top: 5%;}

.button:hover{
    background-color: var(--secondary);
}



h1, h2, h3, h4, h5, h6 ,p {
    font-family: 'Helvetica', sans-serif; 
    color: #333; 
    margin: 2px;
} 
  h1, h2, h3, h4, h5, h6 {font-weight: bold;}

/* LES TAiLLES DES TEXTES ICI*/
h1{font-size: 300%;}h2{font-size: 250%;}h3{font-size: 200%;}h4{font-size: 175%;}h5{font-size: 150%;}p,h6{font-size: 100%;}

.margin5{
    margin-bottom: 5%; 
    margin-inline: 5%}
.margin10, h1, h2, h3{
  margin-bottom: 10%; 
  margin-inline: 10%}

  hr{border: 1px solid;}

a {
    margin-left: 5%;
}

.width100{width: 100%;}
.width90{width: 90%;
        margin-inline: 5%;}

.primary{color: var(--primary);}
.secondary{color: var(--secondary);}
.lighter{color: var(--lighter);}
.bg-prim{background-color: var(--primary);}
.bg-sec{background-color: var(--secondary);}
.bg-light{background-color: var(--lighter);}


.light_body{
    background-color: var(--background);
}

aside{position: sticky;}
aside > form > input{display: inline;}
aside > form > p{display: inline;}

html {background-color: var(--secondary);
position: absolute;}

html, body, header {
    margin:0;
    padding:0;
 }

footer > button{
    width: 10%;
    height: auto;
    font-size: 200%;
    color: var(--primary);
    background-color: var(--lighter);
    font-weight:bolder;
    border-radius: 10px;
    border: 2px solid var(--primary);
    position: fixed;
    top: 85%;
    right: 5%;
}

.carte{
    width: 80%;
    margin-inline: 5%;
    background-color: var(--shadow);
    border: var(--lighter);
    padding: 5%;
    border-radius: 10px;
    
}

.carte > p {}

.carte > article {display:inline-block;}
.carte > div > img {object-fit: cover;height: 9rem;width: auto;margin-top: 10%;}
.carte > div {width: 35%;box-sizing: border-box;overflow: hidden;display:inline-flex;border-radius: 10px;}
.carte > button{border-radius: 10px;
border: transparent;
background-color: var(--lighter);
font-size: 120%;
margin-top: 2%;
margin-left: 25%;}
.carte > button:hover button:active{background-color: var(--secondary);}

.downbar {background-image: url(img/navbarbg.png);
width: 100%;
padding-top: 3%;
position: fixed;
bottom: 2%;
}
.downbar > a {margin-inline: 11%;}


.hidden{display: none;}



.perso > button {
    background-color: var(--primary);
    width: 125%;
    margin-inline: 20%;
    display: flex;
    align-items:center;
    margin-top: 5%;
    border-radius: 10px;
    border: var(--secondary) 5px solid;
    padding-top: 2%;
}
.perso > button > h2 {display: inline; padding-top: 5%;margin:0%; margin-left: 5%;margin-bottom: 5%;}
.perso > button > img {display: inline;margin-left: 2%;}

.param {width: 80%; margin-left: 5%;}
.param > button {width: 200%;height: 5rem; margin-inline: 3%;background-color: transparent;border: transparent;align-items: center;display: flex;}
.param > button > h2 {display: inline;margin-top: 8%;}
.param > button > image {display: inline;}
.param > br {margin-top: 70%;}


.newrecipe > img {display: inline;}
.newrecipe > h2 {display: inline;margin: 5%;}
.newrecipe {margin: 0;width: 26rem;margin-top: 5%;}
.newrecipe > form {
    margin: 10%;
}
.newrecipe > form > select {border: transparent 3px solid;
    border-radius: 10px;}
.newrecipe > form > h5 > select {border: transparent 3px solid;
    border-radius: 10px;}
.newrecipe > form > input {border: transparent 3px solid;
border-radius: 10px;}
.newrecipe > form > button {border: transparent 3px solid;
    border-radius: 10px;}
.namerecipe {font-size: 1.3rem;width: 18rem;}

.newrecipe > form > textarea {
    font-size: 1rem;width: 18rem;
    border: transparent 3px solid;
    border-radius: 10px;    
    font-family: 'Helvetica', sans-serif;
    font-weight: normal;}

    input[type=range] {
        -webkit-appearance: none;     
        padding: 0;                
        font: inherit;               
        outline: none;
        color: var(--primary);                 
        opacity: .8;
        background: var(--lighter);            
        box-sizing: border-box;      
        transition: opacity .2s;
        cursor:pointer;
      }

      