.homelogo{width: 70%;
margin-inline: 15%;
margin-top: 40%;}

.biglogo{width: 40%;
    margin-inline: 30%;
    margin-top: 10%;}

.load{width: 30%;
margin-inline: 35%;
margin-top: 10%;}

:root {
    --primary: #e8ae71;
    --secondary: #e8cd93;
    --lighter: #f7eebc;
    --background:#f3f4f2 ;
    --shadow: #dcd9d1 ;
  }

.login{
    background-color: var(--primary);
    width: 70%;
    margin-inline: 15%;
    border-radius: 10px;
    border: 1px solid var(--secondary);
    font-size: 16px;
    margin-bottom: 10%;
}


.login > input{
    background-color: var(--lighter);
    width: 90%;
    margin-inline: 5%;
    border-radius: 10px;
    border: 1px solid var(--lighter);
    font-size: 16px;
    margin-bottom: 5%;
}

.login > input >.send{ width: 30%;
    margin-inline-start: 65%;
margin-inline-end: 5%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', sans-serif; 
    font-size: 24px; 
    font-weight: bold; 
    color: #333; 
    margin-bottom: 10%; 
    margin-inline: 10%
  }


html {background-color: var(--secondary);}
